*,
*:before,
*:after {
  -webkit-mask: none;
  mask: none;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  display: none !important;
}

#app-mount .scroller-15bIdk {
  padding: 0 0px;
}

#app-mount .tabBody-2dgbAs:before {
  content: none;
}

#app-mount .fieldList-in8WkP {
  background-color: rgba(0, 0, 0, 0);
  ;
}

#app-mount .accountProfileCard-lbN7n- {
  background-color: rgba(0, 0, 0, 0.3);
}

#app-mount .base-3bcbY3 {
  margin-bottom: 53px !important;
}

#app-mount .guildNameText-jBFbNC,
#app-mount .tooltipContent-Nejnvh {
  color: #fff;
}

#app-mount .tooltipPointer-3L49xb {
  border-top-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 30%));
}

#app-mount .info-3pQQBb .text-xs-normal-3O7EaX:first-child:before {
  content: "SimplyDark BG " var(--simplydark-version);
  text-transform: none;
  display: block;
}

#app-mount .wrapper-1_HaEi .wrapper-3kah-n {
  border-radius: var(--server-shape) !important;
  overflow: hidden;
}

#app-mount .wrapper-1_HaEi .circleIconButton-1VxDrg {
  border-radius: var(--server-shape) !important;
}

#app-mount .wrapper-1_HaEi .folderIconWrapper-1oRIZr {
  border-radius: var(--server-shape) !important;
}

#app-mount .wrapper-1_HaEi .guildIcon-2I5sfu {
  border-radius: var(--server-shape) !important;
}

#app-mount .sidebar-1tnWFu .content-2a4AW9>div[style="height: 84px;"] {
  height: 135px !important;
}

#app-mount .sidebar-1tnWFu .animatedContainer-2laTjx {
  top: 48px;
}

#app-mount .sidebar-1tnWFu .link-39sEB3 .layout-1LjVue {
  padding: 0 8px 0 16px;
}

#app-mount .sidebar-1tnWFu .content-1Tgc42 {
  margin: 0;
}

#app-mount .sidebar-1tnWFu .wrapper-NhbLHG {
  padding: 0;
}

#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeUnread-3Cxepe svg {
  color: #fff;
}

#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH svg {
  color: #fff;
}

#app-mount .sidebar-1tnWFu .content-1gYQeQ {
  padding: 0 8px 0 16px;
  margin: 0;
}

#app-mount .sidebar-1tnWFu .unread-36eUEm {
  z-index: 1;
}

#app-mount .sidebar-1tnWFu .container-1zzFcN {
  border: none;
  padding-bottom: 0;
}

#app-mount .chat-2ZfjoI .reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
  color: #fff;
}

#app-mount .chat-2ZfjoI .clipContainer-31nYlH {
  padding-top: 0;
  margin-top: 0;
}

#app-mount .divider-AZrXIA {
  display: none;
}

#app-mount .chat-3JZdy8::before,
#app-mount .chat-2ZfjoI::before,
#app-mount .chat-25x62K::before {
  content: none;
}

#app-mount .chat-3JZdy8 .form-3gdLxP,
#app-mount .chat-2ZfjoI .form-3gdLxP,
#app-mount .chat-25x62K .form-3gdLxP {
  padding: 0;
  margin: 0;
  min-height: 53px;
}

#app-mount .chat-3JZdy8 .form-3gdLxP::before,
#app-mount .chat-2ZfjoI .form-3gdLxP::before,
#app-mount .chat-25x62K .form-3gdLxP::before {
  content: none;
}

#app-mount .chat-3JZdy8 .channelTextArea-1FufC0,
#app-mount .chat-2ZfjoI .channelTextArea-1FufC0,
#app-mount .chat-25x62K .channelTextArea-1FufC0 {
  margin-bottom: 0;
}

#app-mount .chat-3JZdy8 .slateTextArea-27tjG0,
#app-mount .chat-3JZdy8 .placeholder-1_mJY1,
#app-mount .chat-2ZfjoI .slateTextArea-27tjG0,
#app-mount .chat-2ZfjoI .placeholder-1_mJY1,
#app-mount .chat-25x62K .slateTextArea-27tjG0,
#app-mount .chat-25x62K .placeholder-1_mJY1 {
  padding: 13px 0 15px;
  box-sizing: border-box;
}

#app-mount .chat-3JZdy8 .attachButton-_ACFSu,
#app-mount .chat-2ZfjoI .attachButton-_ACFSu,
#app-mount .chat-25x62K .attachButton-_ACFSu {
  padding: 16px 16px 15px;
  box-sizing: border-box;
  height: 53px;
}

#app-mount .chat-3JZdy8 .buttons-uaqb-5,
#app-mount .chat-3JZdy8 .emojiButton-3FRTuj,
#app-mount .chat-2ZfjoI .buttons-uaqb-5,
#app-mount .chat-2ZfjoI .emojiButton-3FRTuj,
#app-mount .chat-25x62K .buttons-uaqb-5,
#app-mount .chat-25x62K .emojiButton-3FRTuj {
  min-height: 53px;
  margin-right: 4px;
}

#app-mount .members-3WRCEx .layout-1qmrhw {
  padding: 0 8px 0 16px;
}

#app-mount .peopleList-2VBrVI::-webkit-scrollbar {
  display: none;
}

#app-mount .peopleListItem-u6dGxF {
  margin: 0;
  padding: 0 16px;
}

#app-mount .profileBadges-2pItdR.profileBadges-2pItdR {
  padding: 0;
  padding-top: 6px;
}

#app-mount .container-1oeRFJ {
  margin: 0;
  padding: 0;
}

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) {
  transform: scale(1) !important;
}

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .sidebar-nqHbhN {
  padding-right: 0;
}

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .item-3XjbnG {
  margin: 0;
}

#app-mount .typeThread-2Aqh6X .content-1gYQeQ {
  padding-left: 42px;
}

#app-mount .spine-29OFwR {
  z-index: 1;
}

#app-mount button.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
}

#app-mount button.lookFilled-1Gx00P.colorBrand-3pXr91:focus {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
}

#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] circle {
  color: rgb(var(--accent));
}

#app-mount .colorDefault-CDqZdO .checkbox-hADx5o,
#app-mount .colorDefault-CDqZdO .radioSelection-1UHp0b {
  color: rgb(var(--accent));
}

#app-mount .colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
  color: #fff;
}

#app-mount .bd-switch-handle {
  rx: 0;
}

#app-mount .container-2nx-BQ rect {
  rx: 0;
}

#app-mount .container-30qY7E:hover {
  border-color: var(--discord-red);
}

#app-mount .container-YkUktl {
  background-color: rgba(0, 0, 0, 0.2);
}

#app-mount .container-ZMc96U .children-3xh0VB:after {
  content: none;
}

#app-mount .menu-1QACrS .item-1OdjEX {
  margin: 0;
  padding: 8px;
}

#app-mount .menu-1QACrS .item-1OdjEX.colorPremium-vwmYZQ {
  color: var(--discord-pink);
}

#app-mount .menu-1QACrS .item-1OdjEX+.layer-2aCOJ3 {
  margin-left: -4px;
}

#app-mount .option-2KkUJO:after {
  content: none;
}

#app-mount .statusItem-2hiCNB {
  padding: 0 4px;
}

#app-mount .statusItem-2hiCNB .description-3Cwkxk {
  display: none;
}

#app-mount .header-11eigE,
#app-mount .header-JHwfVI,
#app-mount .header-uVCAlo {
  box-shadow: none;
}

#app-mount .result-3OpoO7:hover:after {
  box-shadow: inset 0 0 0 2px rgb(var(--accent));
}
